.mall_goods .mall_goods_list .mall_goods_list_search .ivu-input-group-append {
  width: 40px;
}

.custom-tabs-bar {
  border-bottom: 1px solid #dddee1;
  margin-bottom: 16px;
  outline: 0;
}

.custom-tabs-nav-container {
  margin-bottom: -1px;
  line-height: 1.5;
  font-size: 14px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  zoom: 1;
}
.custom-tabs-nav-wrap {
  overflow: hidden;
  margin-bottom: -1px;
}
.custom-tabs-nav-scroll {
  overflow: hidden;
  white-space: nowrap;
}
.nav-text {

}
.custom-tabs-nav {
  padding-left: 0;
  margin: 0;
  float: left;
  list-style: none;
  /* box-sizing: border-box; */
  position: relative;
  transition: transform .5s ease-in-out;
}

.custom-tabs-ink-bar {
  height: 2px;
  box-sizing: border-box;
  background-color: #2d8cf0;
  position: absolute;
  left: 0;
  bottom: 1px;
  z-index: 1;
  transition: transform .3s ease-in-out;
  transform-origin: 0 0;
}

.custom-tabs-nav .custom-tabs-tab {
  display: inline-block;
  height: 100%;
  padding: 8px 16px;
  /* margin-right: 16px; */
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  transition: color .3s ease-in-out;
  text-align: center;
}

.custom-tabs-nav .custom-tabs-tab-active {
  color: #2d8cf0;
}
